<style>
body{
    text-align: center; 
    background-color: #14247e; 
    color: rgb(241, 192, 11);
}

form{
    text-align: justify; 
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    margin-top: 10%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    width: 78%;
    border:3px dashed #ffe65b;
    border-radius: 10px;
}

form label{
    margin-left: 5%;
    
}
form input{
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-right:2px solid #ffffff;
    border-left:2px solid #ffffff;
    border-top:2px solid #ffffff;
    border-bottom:1px solid #14247e;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    outline: 0px solid transparent;
    width: 85%;
}
#update, #add{
    background: #93ff0f;
    margin-left: 10%;
    border-bottom:0.5px solid #ffffff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
#Reset{
    background: #0fdfff;
    margin-left: 10%;
    
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom:0.5px solid #ffffff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
form textarea{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-right:2px solid #ffffff;
    border-left:2px solid #ffffff;
    border-top:2px solid #14247e;
    border-bottom:2px solid #14247e;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    outline: 0px solid transparent;
    width: 85%;
    height: 250px;
}
a{
    color: black; 
    text-decoration: none;
}
.details{
    /* background-color: rgb(255, 255, 255); */
    color:#ffffff;
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    border-width: 5px;
    border-bottom:5px double white;
    border-top:5px double #ffe65b;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
button{
    padding: 5px 10px 5px 10px;
    width: 60px;
}
</style>